/* Base styles */
body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    font-family: 'Patrick Hand', cursive;
    height: 100vh;
    margin: 0;
    overflow: auto;
    padding-bottom: 60px;
    align-items: center;
}

/* Form styles */
form {
    background-color: #fdfd96;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    max-width: 600px;
    padding: 15px;
    position: sticky;
    top: 0;
    width: 90%;
    z-index: 2;
}

#new-task-form {
    align-items: center;
    display: flex;
    gap: 10px;
}

/* Input styles */
input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
    font-size: 16px;
    padding: 8px;
}

/* Button styles */
button {
    background-color: #4db6ac;
    font-family: 'Patrick Hand', cursive;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f9a825;
}

/* List styles */
#list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 20px;
    max-width: 600px;
    padding: 0;
    width: 90%;
}

#list li {
    align-items: center;
    background-color: #fdfd96;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
    transform: rotate(-2deg);
}

#list li:nth-child(odd) {
    transform: rotate(2deg);
}

#list li:hover {
    transform: scale(1.05);
    z-index: 1;
}

/* Checkbox styles */
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    border: 2px solid #4db6ac;
    border-radius: 4px;
    cursor: pointer;
    height: 20px;
    margin: 3px;
    margin-right: 10px;
    position: relative;
    width: 20px;
    -webkit-appearance: none;
}

input[type="checkbox"]:checked {
    background-color: #f9a825;
    border-color: #f9a825;
}

input[type="checkbox"]:checked::before {
    border: solid white;
    border-width: 0 2px 2px 0;
    content: "";
    height: 10px;
    left: 6px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 5px;
}

/* Footer styles */
footer {
    background-color: #333;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.brand-name {
    font-size: 1.2em;
    font-weight: bold;
}

.links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #f9a825;
}
